*.obj
*.user
[Dd]ebug
[Rr]elease
obj
[Bb]in
*.ncb
*.suo
*.dsk
*.~*
*.a
*.ddp
*.so
*.o
*.lo
*.gcda
*.la
*.libs
*.deps
*.gcno
*.gcov
*~
._.*
*~.nib
*.local
Lib_Commercial
Lib_Debug
Lib_Release
public_interface
__history
.metadata
Common.mak
Makefile
Makefile.in
configure
config.cache
autom4te.cache
config.log
depcomp
config.guess
config.h
ltmain.sh
config.sub
mkinstalldirs
config.status
stamp-h1
config.h.in
libtool
missing
aclocal.m4
install-sh
grts/*
*.Load
*.NoLoad
TestResults
MySQLMySqlStudio1.vsmdi
[Rr]elease_OSS
wiztest
boxtest
*.bak
tags
genobj
genwrap
test_all
Params.inc
build-stamp
configure-stamp
MySQLMySqlStudio.desktop
build/mysql-studio.spec
debian/mysql-studio
frontend/linux/shell/grtshell
frontend/linux/studio/mysql-studio-bin
template_dictionary_nothreads_unittest
template_dictionary_unittest
template_modifiers_nothreads_unittest
template_modifiers_unittest
template_nothreads_unittest
template_setglobals_nothreads_unittest
template_setglobals_unittest
template_unittest
diff_tpl_auto_escape
generate_fsm_c_test
htmlparser_nothreads_test
htmlparser_test
make_tpl_varnames_h
statemachine_test
template_nothreads_regtest
template_regtest
template_test_util_nothreads_test
template_test_util_test
output/*
../../../debian/files
../../../debian/mysql-studio.substvars
files
mysql-studio.substvars
*.pbxuser
*.mode2v3
ext/scintilla/cocoa/ScintillaTest/build
.DS_Store
MySQLMySqlStudio.build
*.perspectivev3
ext/scintilla/cocoa/ScintillaFramework/build
mergechset
plugins/wb.admin/.project
plugins/wb.admin/.pydevproject
build/mysqlstudio-template.dmg
*.wb50.mwb
CodeAnalyst
*.aps
*.egg
*.egg-info
*.pyc
*.pyo
*.vs10x
*.opensdf
*.sdf
ipch
*.pdb
backend/wbpublic/wbpublic.be.sdf
xcuserdata
*.xcworkspace
plugins/migration/doc/_*
m4
log
parser-opt
wb_config.h
DerivedData
_build
_build/*
mysqlauditadmin
mysqlauditgrep
*.cmake
CMakeFiles
Thumbs.db
scheme.prop
libmysqlclient.dylib
cairo.py
cairo_wrap.cxx
mforms.py
mforms_wrap.cxx
library/sql-parser/source/windows/myx_sql_parser.output
build/msi/distribution/
build/zip/distribution/
build/output/
*.so
*.so.*

*.wixpdb
MySQL.tokens
config.cnf
wb-build/
*.kdev4
.autotools
.cproject
.project
.pydevproject
.settings/

library/parsers/ECMAParser.*
library/parsers/ECMALexer.*
library/parsers/ECMA.tokens
library/parsers/mysql/MySQLParser*
library/parsers/mysql/MySQLLexer*

RE:testing/python/test_results_.*\.txt(\.[0-9])?
wb-build
library/parsers/antlr
.vscode
*.[Vv][Cc].db
*.[Vv][Cc].opendb
.vs/
test-results.json
packages/
bundle/
build/build/output/cmake_configure.log
build/output/cmake_configure.log
build/output/CMakeCache.txt
build/output/mysql-studio.desktop
build/output/ext/scintilla/gtk/libwbscintilla.so.4.1.5
build/output/frontend/linux/studio/mysql-studio
build/output/library/base/libwbbase.so.1.0.1
build/output/library/cdbc/libcdbc.so.1.0.1
build/output/library/sql.parser/source/libsqlparser.so.1.0.1
build/output/plugins/migration/wbcopytables
build/output/library/grt/src/libgrt.so.1.0.1
build/output/library/mtemplate/libmtemplate.so.1.0.1
build/output/library/mysql.canvas/src/libmdcanvas.so.1.0.1
build/output/library/ssh/libwbssh.so.1.0.1
build/output/cmake_install.log
build/output/install_manifest.txt
build/output/cmake_install.log
build/output/cmake_install.log
build/output/cmake_install.log
build/output/cmake_install.log
build/output/backend/wbprivate/libwbprivate.so.1.0.1
build/output/backend/wbpublic/libwbpublic.so.1.0.1
build/output/modules/db.mysql/db.mysql.grt.so.1.0.1
build/output/modules/wb.model/wb.model.grt.so.1.0.1
build/__output/cmake_configure_tests.log
build/__output/CMakeCache.txt
build/__output/mysql-studio.desktop
build/__output/wbtests-bin
build/__output/backend/wbprivate/libwbprivate.so.1.0.1
build/__output/backend/wbpublic/libwbpublic.so.1.0.1
build/__output/ext/scintilla/gtk/libwbscintilla.so.4.1.5
build/__output/frontend/linux/linux_utilities/liblinux_utilities.so.1.0.1
build/__output/frontend/linux/sqlide/libsqlide.so.1.0.1
build/__output/frontend/linux/studio/mysql-studio
build/__output/frontend/linux/studio/mysql-studio-bin
build/__output/library/base/libwbbase.so.1.0.1
build/__output/library/cdbc/libcdbc.so.1.0.1
build/__output/library/forms/libmforms.so.1.0.1
build/__output/library/grt/src/libgrt.so.1.0.1
build/__output/library/mtemplate/libmtemplate.so.1.0.1
build/__output/library/mysql.canvas/src/libmdcanvas.so.1.0.1
build/__output/library/mysql.canvas/src/libmdcanvasgtk.so.1.0.1
build/__output/library/parsers/libparsers.so.1.0.1
build/__output/library/sql.parser/source/libsqlparser.so.1.0.1
build/__output/library/ssh/libwbssh.so.1.0.1
build/__output/modules/db.mysql/db.mysql.grt.so.1.0.1
build/__output/modules/db.mysql.parser/db.mysql.parser.grt.so.1.0.1
build/__output/modules/db.mysql.query/db.mysql.query.grt.so.1.0.1
build/__output/modules/db.mysql.sqlparser/db.mysql.sqlparser.grt.so.1.0.1
build/__output/modules/utilities/utilities.grt.so.1.0.1
build/__output/modules/wb.model/wb.model.grt.so.1.0.1
build/__output/plugins/db.mysql/db.mysql.wbp.so.1.0.1
build/__output/plugins/db.mysql.diff.reporting/db.mysql.diff.reporting.wbp.so.1.0.1
build/__output/plugins/db.mysql.editors/linux/db.mysql.editors.wbp.so.1.0.1
build/__output/plugins/migration/wbcopytables
build/__output/plugins/migration/wbcopytables-bin
