MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=sqlstudio
MYSQL_USER=sqlstudio
MYSQL_PASSWORD=sqlstudio
MYSQL_82_PORT=33082
MYSQL_LATEST_PORT=33060

MARIADB_ROOT_PASSWORD=root
MARIADB_DATABASE=sqlstudio
MARIADB_USER=sqlstudio
MARIADB_PASSWORD=sqlstudio
MARIADB_1011_PORT=33011
MARIADB_LATEST_PORT=33070
